@using System.Web.Optimization
@{
    Layout = null;
    ViewBag.Title = "Open24.vn - Quản lý chi nhánh";
}
<style>
    ul.op-list-tree li ul > li:last-child:before {
        height: calc(94% - 30px);
        min-height: 30px;
    }

    ul.op-list-tree li > div.showed + ul {
        display: block;
    }

    ul.op-list-tree li > div.showed > button > i {
        transform: rotate(-180deg);
    }

    ul.op-list-tree li > div > button > i {
        transform: rotate(0);
        transition: all 0.4s ease;
    }

    ul.op-list-tree li > div > button {
        position: absolute;
        left: unset;
        right: 0;
        width: 30px;
        height: 30px;
        background: none;
        font-size: 16px;
    }

    ul.op-list-tree ul {
        padding-left: 20px;
    }

    ul.op-list-tree li > div {
        line-height: 18px;
        display: flex;
        align-items: center;
        padding: 4px;
        width: inherit;
    }

        ul.op-list-tree li > div > input[type='radio'] {
            width: 20px;
            /* display: flex; */
            /* align-items: center; */
            /* background: red; */
            margin-right: 5px;
            display: inline-block;
        }

    ul.op-list-tree li:before {
        content: '';
        height: calc(100% - 1px);
        left: -7px;
        position: absolute;
        top: -12px;
        width: 1px;
        border-left: 1px dotted #ccc;
    }

    ul.op-list-tree li:after {
        content: '';
        width: 15px;
        left: -7px;
        position: absolute;
        top: 17px;
        /* width: 1px; */
        border-bottom: 1px dotted #ccc;
    }

    ul.op-list-tree > li::after, ul.op-list-tree > li:before {
        content: none
    }

    ul.op-list-tree li {
        position: relative;
    }

        ul.op-list-tree li ul {
            position: relative;
            display: none
        }

    .table-option {
        height: 300px;
        overflow: auto;
    }

    #khuyenmaip .modal-lg {
        width: 1000px;
    }

    .giamgiahoadon th, .giamgiahoadon td,
    .tanghang th, .tanghang td,
    .giamgiahang th, .giamgiahang td,
    .tangdiem th, .tangdiem td,
    .HangHoa th, .HangHoa td {
        border: none !important;
    }

    .toggle {
        background: #CACACA;
        padding: 3px;
        width: 57px;
        height: 27px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-radius: 15px;
        overflow: visible;
    }

    .toggle-line {
        background: var(--color-main);
        position: absolute;
        left: 0;
        height: 100%;
        width: 36px;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-radius: 15px;
    }

    .toggle.active-re .toggle-line {
        left: 30px;
        width: 26px;
    }

    .toggle-element {
        padding: 3px;
        line-height: initial;
        z-index: 2;
        font-size: 11px;
        min-width: 24px;
        text-align: center;
        color: white;
    }

    .toggle-element-percent {
        font-size: 13px;
        color: #686868;
    }

    .toggle.active-re .toggle-element {
        color: #686868;
    }

    .toggle.active-re .toggle-element-percent {
        color: white;
    }

    .symptoms #hinhthuc thead th {
        padding: 6px;
        background-color: var(--color-main);
        color: var(--color-main-font);
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .add-promotion-condition {
        position: sticky;
        bottom: 0;
        z-index: 10;
    }

    .label-come {
        margin-left: 30px;
    }

    .SelectID_NhomHangKM input::after {
        font-weight: bold;
    }
</style>
<div class="op-container" data-bind="visible: KhuyenMai_XemDs()==='KhuyenMai_XemDS'">
    <div class="container-fluid nopadding">
        <div class="col-left">
            <div class=" op-filter">
                <section class="op-filter-body">
                    <article class="boxLeft showChiNhanh">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/loaithuchi.png" />  Chi nhánh
                        </h3>
                        <aside class="op-filter-container">
                            <div class="dropdown op-tag-picker">
                                <div data-toggle="dropdown" id="choose_DonVi_Use" aria-expanded="true">
                                    <ul data-bind="foreach: MangChiNhanh_Use">
                                        <li>
                                            <span data-bind="text: TenDonVi">
                                            </span>
                                            <span data-bind="click: $parent.CloseDonVi_Use">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown nameDonVi" id="NoteNameDonVi_Use" data-bind="event:{keyup: NoteNameDonVi_Use}" placeholder="Chọn chi nhánh..." />
                                </div>
                                <ul class="dropdown-menu" id="selec-all-DonVi_Use" data-bind="foreach: DonVis">

                                    <li data-bind="attr:{id_use: ID}, click: $parent.SelectedDonVi_Use">
                                        <a data-bind="text: TenDonVi "></a>

                                </ul>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fa fa-adjust"></i> Loại khuyến mại
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuRadio floatleft">
                                <ul>
                                    <li>
                                        <label><input type="radio" name="typePro" data-bind="checked: Filter_TypePromotion, checkedValue: 0 " />  Tất cả</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" name="typePro" data-bind="checked: Filter_TypePromotion, checkedValue: 1 " />  Hóa đơn</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" name="typePro" data-bind="checked: Filter_TypePromotion, checkedValue: 2 " />  Hàng hóa</label>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fa fa-calendar"> </i> Hạn sử dụng
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuRadio floatleft">
                                <ul>
                                    <li>
                                        <label><input type="radio" name="Expired" data-bind="checked: Filter_Expired, checkedValue: 0 " />  Tất cả</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" name="Expired" data-bind="checked: Filter_Expired, checkedValue: 2 " />  Còn hạn</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" name="Expired" data-bind="checked: Filter_Expired, checkedValue: 1 " />  Hết hạn</label>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/trangthai (1).png" />         Trạng thái
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuRadio floatleft">
                                <ul>
                                    <li class=" choseAllKM">
                                        <label><input type="radio" name="TrangThai" data-bind="checked: StatusActive, checkedValue: 2 " />  Tất cả</label>
                                    </li>
                                    <li class=" choseHoatDong">
                                        <label><input type="radio" name="TrangThai" data-bind="checked: StatusActive, checkedValue: 1 " />  Kích hoạt</label>
                                    </li>
                                    <li class=" choseKhongHoatDong">
                                        <label><input type="radio" name="TrangThai" data-bind="checked: StatusActive, checkedValue: 0 " /> Chưa áp dụng</label>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header">
                <div class="op-header-title">
                    <h2 class=" title">
                        @banhang24.Resources.ResourceTexts.Setup / Chương trình khuyến mại
                    </h2>
                </div>
                <div class="flex flex-between">
                    <div class="op-header-button">
                        <div class=" header-button-left">
                            <div class="btn-group khuyenmaiparent" style="display:none" data-bind="visible: KhuyenMai_ThemMoi()==='KhuyenMai_ThemMoi'">
                                <button type="button" class="btn btn-main  dropdown-toggle  btn-main" data-bind="click: $root.showModalAddKhuyenMai">
                                    <i class="fa fa-plus" aria-hidden="true"></i> <span>Thêm mới</span>
                                </button>
                            </div>
                        </div>
                        <div class=" header-button-right">
                            <div class="btn-dropdown ">
                                <button type="button" class="btn btn-main  dropdown-toggle" onclick="showCollumnFilter(this)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-angle-double-down"></i></button>
                                <div class=" dropdown-list ">
                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e7" checked="checked"><span></span>Mã chương trình</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e0" checked="checked"><span></span>Tên chương trình</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e1" checked="checked"><span></span>Từ ngày</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e2" checked="checked"><span></span>Đến ngày</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e3" checked="checked"><span></span>Hình thức</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e4"><span></span>Người tạo</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e5"><span></span>Ghi chú</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="e6" checked="checked"><span></span>Trạng thái</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-search-filter">
                        <button type="button" class=" btn-search-icon" data-bind="click: Click_IconSearch">
                            <i class="fa fa-search"></i>
                        </button>
                        <input type="text" class="form-control" placeholder="Theo mã, tên chương trình" data-bind="event: {keyup: NoteMaKM}" id="EnterMaKM" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="content-table " id="myScrollspy" style="top: 48px;position: sticky;">
                <div class=" table-frame">
                    <table class="table " id="tb">
                        <thead>
                            <tr id="table">
                                <th class="m7">Mã chương trình</th>
                                <th class="m0">Tên chương trình</th>
                                <th class="m1">Từ ngày</th>
                                <th class="m2">Đến ngày</th>
                                <th class="m3">Hình thức</th>
                                <th class="m4 ">Người tạo</th>
                                <th class="m5 ">Ghi chú</th>
                                <th class="m6">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: filteredDM_KhuyenMai">
                            <tr class="prev-tr-hide" id="table" data-bind="click: $parent.loadDieuKienKM,css:{bggray : $index()%2 == 1}">
                                <td class="m7" data-bind="text: MaKhuyenMai"></td>
                                <td class="m0" data-bind="text: TenKhuyenMai"></td>
                                <td class="m1" data-bind="text: moment(ThoiGianBatDau).format('DD/MM/YYYY')!='Invalid date'? moment(ThoiGianBatDau).format('DD/MM/YYYY HH:mm'):''"></td>
                                <td class="m2" data-bind="text: moment(ThoiGianKetThuc).format('DD/MM/YYYY')!='Invalid date'? moment(ThoiGianKetThuc).format('DD/MM/YYYY HH:mm'):''"></td>
                                <td class="m3" data-bind="text: HinhThuc"></td>
                                <td class="m4 " data-bind="text: NguoiTao"></td>
                                <td class="m5 " data-bind="text: GhiChu"></td>
                                <td class="m6" data-bind="text: TrangThai"></td>
                            </tr>
                            <tr class="op-js-tr-hide">
                                <td colspan="8">
                                    <div class="op-object-detail ">
                                        <ul class="nav nav-tabs">
                                            <li class="active" onclick="LoadGetHeight()"><a href="#thongtin" data-toggle="tab" data-bind="attr:{href:'#thongtin' + ID}">Thông tin</a></li> @*Truyền id vào tab*@
                                            <li onclick="LoadGetHeight()"><a href="#dieukien" data-toggle="tab" data-bind="attr:{href:'#dieukien' + ID}">Điều kiện khuyến mại</a></li>
                                            <li onclick="LoadGetHeight()"><a href="#lichsu" data-toggle="tab" data-bind="attr:{href:'#lichsu' + ID}, click: $parent.getList_LichSuKhuyenMai">Nhật ký khuyến mại</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" data-bind="attr:{id:'thongtin' + ID}">
                                                @*Lấy tên của tab để truyền dữ liệu*@
                                                <div>
                                                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                                        <div class="detail-content floatleft">
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Mã chương trình:</label>
                                                                <div class="css-form-detail">
                                                                    <span data-bind="text: MaKhuyenMai"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Thời gian:</label>
                                                                <div class="css-form-detail ">
                                                                    <div>
                                                                        <span data-bind="text: moment(ThoiGianBatDau).format('DD/MM/YYYY')!='Invalid date'? moment(ThoiGianBatDau).format('DD/MM/YYYY HH:mm'):''"></span>
                                                                        <span> - </span>
                                                                        <span data-bind="text: moment(ThoiGianKetThuc).format('DD/MM/YYYY')!='Invalid date'? moment(ThoiGianKetThuc).format('DD/MM/YYYY HH:mm'):''"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                                                        <div class="detail-content">
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Theo tháng:</label>
                                                                <div class="css-form-detail">
                                                                    <label style="white-space:pre-wrap" data-bind="text: ThangApDung"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Theo ngày:</label>
                                                                <div class="css-form-detail">
                                                                    <label class="css-form-label" data-bind="text: NgayApDung"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Theo thứ:</label>
                                                                <div class="css-form-detail">
                                                                    <label class="css-form-label" data-bind="text: ThuApDung"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Theo giờ:</label>
                                                                <div class="css-form-detail">
                                                                    <label class="css-form-label" data-bind="text: GioApDung"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                                        <div class="detail-content">
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label"> Tên chương trình:</label>
                                                                <div class="css-form-detail">
                                                                    <label class="css-form-label" data-bind="text: TenKhuyenMai"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label"> Trạng thái:</label>
                                                                <div class="css-form-detail">
                                                                    <label class="css-form-label" data-bind="text: TrangThai"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label"> Ghi chú:</label>
                                                                <div class="css-form-detail">
                                                                    <label class="css-form-label" data-bind="text: GhiChu"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="floatleft">
                                                        <div type="hidden" data-bind="visible: ApDungNgaySinhNhat !=''">
                                                            <i class="fa fa-check blue"></i>
                                                            <span data-bind="text: ApDungNgaySinhNhat"></span>
                                                        </div>
                                                    </div>
                                                    <div class="group-btn floatleft text-right">
                                                        <a type="button" class="btn btn-main capnhatkm" data-bind="click: $parent.UpdateKhuyenMai, visible: $parent.KhuyenMai_CapNhat()==='KhuyenMai_CapNhat'">
                                                            <i class="fa fa-check-square"></i>Cập nhật
                                                        </a>
                                                        <a class="btn btn-main saochepkm" data-bind="click: $parent.CopyKhuyenMai, visible: $parent.KhuyenMai_SaoChep()==='KhuyenMai_SaoChep'">
                                                            <i class="fa fa-check-square"></i>Sao chép
                                                        </a>
                                                        <a class="btn btn-cancel xoakm" data-bind="click: $parent.modalDelete, visible: $parent.KhuyenMai_Xoa()==='KhuyenMai_Xoa'">
                                                            <i class="fa fa-close"></i> Xóa
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" data-bind="attr:{id:'dieukien' + ID}">
                                                <div class="table-res">
                                                    <label class="font-16 " style="color:var(--color-primary)" data-bind="text: HinhThuc"></label>
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HD_GIAM_GIAHD -->
                                                    <table class="table">
                                                        <tr>
                                                            <th>Tổng tiền hàng từ</th>
                                                            <th>Giảm giá hóa đơn</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td data-bind="text: formatNumber(TongTienHang)"></td>
                                                                <td><span data-bind="text: formatNumber(GiamGia)"></span><span data-bind="text: GiamGiaTheoPhanTram == true? ' %': ' VNĐ'"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HD_TANG_HANG -->
                                                    <table class="table">
                                                        <tr>
                                                            <th>Tổng tiền hàng từ</th>
                                                            <th>Tặng hàng/Nhóm hàng</th>
                                                            <th>Số lượng</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td data-bind="text: formatNumber(TongTienHang)"></td>
                                                                <td data-bind="text: TenHangHoa==null?TenNhomHangHoa: TenHangHoa"></td>
                                                                <td data-bind="text: formatNumber(SoLuong)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HD_GIAM_GIA_HANG -->
                                                    <table class=" table tableDK HD_13">
                                                        <tr>
                                                            <th>Tổng tiền hàng từ</th>
                                                            <th>Giảm giá</th>
                                                            <th>Hàng/Nhóm hàng giảm giá</th>
                                                            <th>Số lượng</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td data-bind="text: formatNumber(TongTienHang)"></td>
                                                                <td><span data-bind="text: formatNumber(GiamGia)"></span><span data-bind="text: GiamGiaTheoPhanTram == true? ' %': ' VNĐ'"></span></td>
                                                                <td data-bind="text: TenHangHoa==null?TenNhomHangHoa: TenHangHoa"></td>
                                                                <td data-bind="text: formatNumber(SoLuong)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HD_TANG_DIEM -->
                                                    <table class=" table tableDK HD_14">
                                                        <tr>
                                                            <th>Tổng tiền hàng từ</th>
                                                            <th>Điểm cộng</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td data-bind="text: formatNumber(TongTienHang)"></td>
                                                                <td><span data-bind="text: DiemCong"></span><span data-bind="text: GiamGiaTheoPhanTram == true? ' %': ' Điểm'"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HH_GIAM_GIA_HANG -->
                                                    <table class=" table tableDK HH_21">
                                                        <tr>
                                                            <th>Hàng/Nhóm hàng mua</th>
                                                            <th>SL mua từ</th>
                                                            <th>Giảm giá</th>
                                                            <th>Hàng/Nhóm hàng giảm giá</th>
                                                            <th>SL giảm</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td>
                                                                    <span data-bind="text: TenHangHoaMua==null?TenNhomHangHoaMua: TenHangHoaMua"></span>
                                                                    <span data-bind="visible: TenHangHoaMua!=null,text: '('+ MaHangHoaMua + ')'"></span>
                                                                </td>
                                                                <td data-bind="text: formatNumber(SoLuongMua)"></td>
                                                                <td><span data-bind="text: formatNumber(GiamGia)"></span><span data-bind="text: GiamGiaTheoPhanTram == true? ' %': ' VNĐ'"></span></td>
                                                                <td data-bind="text: TenHangHoa==null?TenNhomHangHoa: TenHangHoa"></td>
                                                                <td data-bind="text: formatNumber(SoLuong)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HH_TANG_HANG -->
                                                    <table class=" table tableDK HH_22">
                                                        <tr>
                                                            <th>Hàng/Nhóm hàng mua</th>
                                                            <th>SL mua từ</th>
                                                            <th>Tặng hàng/Nhóm hàng</th>
                                                            <th>SL tặng</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td>
                                                                    <span data-bind="text: TenHangHoaMua==null?TenNhomHangHoaMua: TenHangHoaMua"></span>
                                                                    <span class="blue" data-bind="visible: TenHangHoaMua!=null,text: '('+ MaHangHoaMua + ')'"></span>
                                                                </td>
                                                                <td data-bind="text: formatNumber(SoLuongMua)"></td>
                                                                <td data-bind="text: TenHangHoa==null?TenNhomHangHoa: TenHangHoa"></td>
                                                                <td data-bind="text: formatNumber(SoLuong)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HH_TANG_DIEM -->
                                                    <table class=" table tableDK HH_23">
                                                        <tr>
                                                            <th>Hàng/Nhóm hàng mua</th>
                                                            <th>SL mua từ</th>
                                                            <th>Điểm cộng</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td data-bind="text: TenHangHoaMua==null?TenNhomHangHoaMua: TenHangHoaMua"></td>
                                                                <td data-bind="text: formatNumber(SoLuongMua)"></td>
                                                                <td><span data-bind="text: formatNumber(DiemCong)"></span><span data-bind="text: GiamGiaTheoPhanTram == true? ' %': ' Điểm'"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->
                                                    <!--ko if: $root.HinhThucKM() == commonStatisJs.HinhThucKhuyenMai.HH_GIA_BAN_THEO_SO_LUONG -->

                                                    <table class=" table tableDK HH_24">
                                                        <tr>
                                                            <th>Hàng/Nhóm hàng mua</th>
                                                            <th>SL mua từ</th>
                                                            <th>Giá bán khuyến mại</th>
                                                        </tr>
                                                        <tbody data-bind="foreach: $parent.BH_KhuyenMai_ChiTiet">
                                                            <tr>
                                                                <td data-bind="text: TenHangHoaMua==null?TenNhomHangHoaMua: TenHangHoaMua"></td>
                                                                <td data-bind="text: formatNumber(SoLuongMua)"></td>
                                                                <td data-bind="text: formatNumber(GiaKhuyenMai)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--/ko-->

                                                </div>
                                            </div>
                                            <div class="tab-pane" data-bind="attr:{id:'lichsu' + ID}">
                                                <div data-bind="visible: $root.BH_LichSuKhuyenMai().length >0">
                                                    <div class="table-res">
                                                        <table class='table'>
                                                            <tr>
                                                                <th>Mã phiếu</th>
                                                                <th>Thời gian</th>
                                                                <th>Người bán</th>
                                                                <th>Doanh thu</th>
                                                                <th>Giá trị khuyến mãi</th>
                                                            </tr>
                                                            <tbody data-bind="foreach: $root.BH_LichSuKhuyenMai()">
                                                                <tr>
                                                                    <td data-bind="text: MaHoaDon"></td>
                                                                    <td data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):''"></td>
                                                                    <td data-bind="text: TenNhanVien"></td>
                                                                    <td data-bind="text:  formatNumber(DoanhThu)"></td>
                                                                    <td data-bind="text: formatNumber(GiaTriKhuyenMai)"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div class="page">
                                                        <div class="flex flex-end">
                                                            <a href="javascript:void(0)" data-bind="click: $parent.StartPage_LS, attr:{id: 'StartPage_LS'+ID}"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $parent.BackPage_LS, attr:{id: 'BackPage_LS'+ID}"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                                            <ul data-bind="foreach: $parent.Pages_LichSuKhuyenMai()">
                                                                <li>
                                                                    <a href="javascript:void(0)" data-bind="text: SoTrang, click: $root.gotoNextPage_LS, css: $root.GetClass_LS($data)"></a>
                                                                </li>
                                                            </ul>
                                                            <a href="javascript:void(0)" data-bind="click: $parent.NextPage_LS, attr:{id: 'NextPage_LS'+ID}"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $parent.EndPage_LS, attr:{id: 'EndPage_LS'+ID}"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                                            <div class="total-recos">Hiển thị <span data-bind="text: $parent.RowsStart_LS"></span> - <span data-bind="text: $parent.RowsEnd_LS"></span> trên tổng số <span data-bind="text: $parent.Rows_LichSuKhuyenMai() !==null? $parent.Rows_LichSuKhuyenMai(): 0"></span> hóa đơn.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="padding-10 bg-warning text-center" data-bind="visible: $root.BH_LichSuKhuyenMai().length <=0">
                                                    <i>   Không có nhật ký khuyển mại</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page">
                    <div class="flex flex-row">
                        <label>Số bản ghi:</label>
                        <select class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: EventPageSize}" id="txtRownSelect"></select>
                    </div>
                    <div class="flex flex-end">
                        <a href="javascript:void(0)" data-bind="click: $root.StartPage" id="StartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" data-bind="click: $root.BackPage" id="BackPage"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <ul data-bind="foreach: PagesKhuyenMai">
                            <li>
                                <a href="javascript:void(0)" data-bind="text: SoTrang, click: $root.gotoNextPage, css: $root.GetClass($data)"></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-bind="click: $root.NextPage" id="NextPage"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" data-bind="click: $root.EndPage" id="EndPage"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <div class="total-recos">Hiển thị <span data-bind="text: RowsStart"></span> - <span data-bind="text: RowsEnd"></span> trên tổng số <span data-bind="text: $root.RowsKhuyenMai() !==null? $root.RowsKhuyenMai(): 0"></span> Chương trình khuyến mại.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalpopup_deleteHD">
    <div id="modalContainer_delete" class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="title-delete">
                    <span id="header-confirm-delete">Xóa khuyến mại</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                </div>
                Bạn có chắc chắn muốn xóa bỏ chương trình khuyến mại <span style="font-weight:bold" data-bind="text: maKhuyenMaiDelete"></span> ?
                <div class="modal-footer">
                    <button type="button" class="btn btn-main" data-bind="click: $root.xoaKhuyenMai"> <i class="fa fa-save"></i> Đồng ý</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>  Bỏ qua</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function LoadGetHeight() {
        sleep(100).then(() => { setHeight(); });
    };
    function setHeight() {
        heigth = heigth - heightold;
        $('#tb tr').each(function () {
            if ($(this).hasClass('ac')) {
                heightold = $(this).height();
            }
        });
        heigth += heightold;
        $('.line-right').css("margin-top", setTop + "px").height(heigth);
    }
    var heigth = 0;
    var heightold = 0;
    var setTop = 0;
    function SetHeightShowDetail($this) {
        setTop = $('#tb thead').height() + parseInt($this.height() * ($this.index() / 2));
        var t = $this.next(".op-js-tr-hide").css("display");
        if (t !== "none") {
            heightold = $this.next().height();
            heigth = parseInt($this.height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        }
    }
    $('#tb').on('click', '.prev-tr-hide', function () {
        setTop = $('#tb thead').height() + parseInt($(this).height() * ($(this).index() / 2));
        $(this).parents(".table").toggleClass("table_re");
        var t = $(this).next(".op-js-tr-hide").css("display");
        $(".prev-tr-hide td").not($(this).find("td")).removeClass("bor");
        $("td").not($(this).find("td")).removeClass("bg-gray");
        $(".prev-tr-hide").not($(this)).removeClass("bor-right");
        $(this).toggleClass("bor-right");
        $(this).find("td").toggleClass("bg-gray");
        $(this).find("td").toggleClass("bor");
        if (t == "none") {
            if (parseInt($('#txtRownSelect').val()) >= 20) {
                $(".table").removeClass('height470');
            }
            $(".op-js-tr-hide").removeClass("ac");
            $(this).next(".op-js-tr-hide").addClass("ac");
            heightold = $(this).next().height();
            heigth = parseInt($(this).height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        }
        else if (t == "block") {
            if (parseInt($('#txtRownSelect').val()) >= 20) {
                $(".table").addClass('height470');
            }
            $(this).next(".op-js-tr-hide").removeClass("ac");
            $('.line-right').height(0).css("margin-top", "0px");
        }
        else {
            if (parseInt($('#txtRownSelect').val()) >= 20) {
                $(".table").addClass('height470');
            }
            $(".op-js-tr-hide").removeClass("ac");
            $('.line-right').height(0).css("margin-top", "0px");
        }
    });
    $(function () {
        $.datetimepicker.setLocale('vi');
        var time = new Date();
        $('#datetimepicker_mask').datetimepicker({
            timepicker: true,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y H:i',
            value: moment(time).format('DD/MM/YYYY HH:mm')
        });
        $('#datetimepicker_mask1').datetimepicker({
            timepicker: true,
            mask: true,
            format: 'd/m/Y H:i',
        });
    });
    $(document).ready(function () {
        $(".name-bill1").click(function () {
            $(".select-user2").hide();
            $(this).find(".select-user").slideToggle();
            $(this).find("i").toggle();
        })
    });

    $(".op-js-themmoinhomhang").click(function () {
        $(".modal-ontop").show();
        $(".op-js-modal").modal('show');
    });
    $(document).on('click', '.close-modal,.save-modal', function () {
        $(".modal-ontop").hide();
        $(".op-js-modal").modal('hide');
    });
    $(".modal-ontop").click(function () {
        $(this).hide();
        $(".op-js-modal").modal('hide');
    });
    $(".tongg-pm").click(function () {
        $(this).find("i").toggle();
        $(this).next("ul").toggle();
    })
    $(".choose-person").click(function () {
        $(this).find("input").focus();
    })
    function keypressNumber_limitNumber(event, obj) {
        var keyCode = event.keyCode || event.which;
        var $this = $(obj).val();
        // 46(.), 48(0), 57(9)
        if ((keyCode != 46 || $(obj).val().indexOf('.') != -1) && (keyCode < 48 || keyCode > 57)) {
            if ((event.which != 46 || $this.indexOf('.') != -1)) {
                //alert('Chỉ được nhập một dấu .');
            }
            event.preventDefault();
        }
        if ($this.indexOf(".") > -1 && ($this.split('.')[1].length > 2)) {
            event.preventDefault();
        }
    }
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
    $(document).on('click', '.checkdram ul li', function () {
        var t = $(this).find("span").html() + ' sinh nhật';
        $(this).parentsUntil(".checkdram ").find(".blue").html(t);
        $(".checkdram ul li i").hide();
        $(this).find("i").show();
    });
</script>
<script>
    var lc_CTQuyen = JSON.parse(localStorage.getItem('lc_CTQuyen'));
    if ($.inArray('KhuyenMai_CapNhat', lc_CTQuyen) > -1) {
        $('.capnhatkm').show();
    }
    if ($.inArray('KhuyenMai_Xoa', lc_CTQuyen) > -1) {
        $('.xoakm').show();
    }
    if ($.inArray('KhuyenMai_SaoChep', lc_CTQuyen) > -1) {
        $('.saochepkm').show();
    }
    $(document).on('click', '.choose-date .dropdown-menu ul li', function () {
        var date = $(this).find("a").html();
        $(".choose-date-show").val(date);
    });
    $("#treeviewnhomhang li").hover(function () {
        $("#tatcanhh a").css("display", "none");
    });
    $('#listgroupkm').on('click', '.close-ul-km', function () {
        $(this).next("ul").toggleClass("open");
        $(this).find("i").toggle();
    });
    $(document).on('click', '.close-ul', function () {
        $(this).next("ul").toggleClass("open");
    });
    $('#khuyenmaip').on('show.bs.modal', function () {
        setTimeout(function () {
            $('#txtNameKM').focus();
        }, 500);
    });
    var t = $(".table").width();
    $(".op-object-detail .tab-content").width(t - 50);
</script>
<style>
    .li-input-span {
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }

    .SelectReport {
        background: #bee69f;
        color: #000000;
    }

    .li-input-select {
        background: #fff;
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }

    .check-after-li {
        float: right;
        padding-right: 20px;
        line-height: 21px;
        color: #009ddc;
        display: inline !important;
    }

    .nameDonVi input {
        border: none;
        height: 30px;
        outline: none;
        padding-left: 10px;
        width: 50%;
    }
</style>
<script>
    $(document).ready(function () {
        var lc_CTQuyen = JSON.parse(localStorage.getItem('lc_CTQuyen'));
        if ($.inArray('KhuyenMai_ThemMoi', lc_CTQuyen) > -1) {
            $('.khuyenmaiparent').css('display', 'block');
        }
        $(window.document).on('shown.bs.modal', '.modal', function () {
            window.setTimeout(function () {
                $('[autofocus]', this).focus();
                $('[autofocus]').select();
            }.bind(this), 100);
        });
    });
    function showlistTree(ele) {
        $(ele).parent().toggleClass('showed');
    }
</script>

<script src="~/Scripts/Components/NhanVien_KhachHang.js"></script>
<script src="~/Scripts/Components/Input.js"></script>
@Html.Partial("~/Views/ThietLap/_vmThemMoiKhuyenMai.cshtml")

@Scripts.Render("~/bundles/KhuyenMai")



